



* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 10pt;
    
}

h3{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

h4{
    margin-bottom: 12pt;
    font-size: 12pt;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}


#menumob{
    display: none;
}



header {
    font-family: 'Nunito', sans-serif;
    font-size: 10pt;
}

#navbar {
    background-color: white;
    width: 100%;
    top: 0;
    height: 100px;
    padding: 5vw;
    display: inline-flex;
    align-items: center;
}

a{
    -webkit-transition: font-weight .2s;
    -moz-transition: font-weight .2s;
    -o-transition: font-weight .2s;
    transition: font-weight .2s;
    text-decoration: none;
    color: black;
}

a:hover{ font-weight: 700; }

.s {
    width: 25vw;
    display: flex;
    justify-content: space-between;
}

.s a{ cursor: pointer; }

.c {
    width: 40vw;
    height: auto;
    display: flex;
    justify-content: center;
}

.c img{
    width: 20vw;
    margin: auto;
    height: auto;
}

.d {
    width: 25vw;
    display: flex;
    justify-content: flex-end;
}

.d a{}

.c img {
    margin: auto;
    height: auto;
}

/*hovers importanti*/

body{
    overflow: hidden;
}

#container{
    margin-top: 10px;
    padding: 0 4vw 5vw 4vw;
    height: calc(100vh - 120px);
    width: 100%;
    display: flex;
}

#clapic{
    margin: 0 1vw 0 1vw;
    width: 50%;
    height: 100%;
    background-image: url(works/room/0.png);
    background-size: cover;
}

#aboutme{
    margin: 0 1vw 0 1vw;
    width: 50%;
}

#aboutme p{
    width: 100%;
}


.clearer {
    clear: both;
}