* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 11pt;
    line-height: 14pt;
    
}

h3{
    font-family: 'Nunito', sans-serif;
    text-decoration: underline;
    font-weight: 500;
}

h4{
    margin-bottom: 10pt;
    font-family: 'Nunito', sans-serif;
    text-decoration: underline;
    font-weight: 300;
    font-size: 16pt;
    line-height: 21pt;
}

#folder{
    display: none;
}

#menumob{
    display: none;
}


body{
    padding-top: 10.5vw;
}

.container{
    padding: 0vw 5vw 3vw 5vw;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between; 
}

.column {
    width: calc(50% - 2.5vw);
    height: auto;
}

.column h3{
    margin-bottom: -11pt;
     margin-top: 16pt;
}

.column p {
    margin-top: 16pt;
}


.clapic{
    height: 100%;
    background-image: url(media/bio.JPG);
    background-position: center;
    background-size: cover;
}



.clearer {
    clear: both;
}