
#footer{
    background-color: #FFE700;
    height: auto;
    width: 100%;
    padding: 10vw 10vw 10vw 10vw;
    justify-content: space-between;
}

#footer p,
#footer a{
    text-align: center;
    font-size: 3.5vw;
    line-height: 7.5vw;
}

.sub p{
    width: 60vw;
    height: 7vw;
} 

#footer .sub a .subsub{
    margin: 2vw 0 2vw 0;
    width: 30vw;
}

#footer .sub a .subsub p{
    height:  8vw;
    text-align: left;
}


.sub .sub:nth-child(2){
    padding-left: 10vw;
    margin-bottom: 5vw;
    margin-top: -1vw;
}

.sub{
    text-align: center;
    display: flex;
    flex-flow: wrap;
}

.sub .sub{
}

.subsub {
    display: flex;
    height: 8vw;
    padding: .15vw 0 .15vw 0;
    align-items: center;
}

.subsub img{
    height: 7vw;
    margin-right: 2vw;
}

.clo{
    display: none;
}

.sub form{
    width: 100vw;
    height: auto;
    font-size: 3vw;
}

.sub input{
    font-size: 3.5vw;
    width: 100%;
    padding: 0 0 0 2vw;
    margin-bottom: 2vw;
    height: 8vw;
    background-color: white;
    border: 0px;
}


.sub textarea{
    font-size: 3.5vw;
    padding: 2vw;
    width: 100%;
    top: 10vw;
    height: 24vw;
    border: 0;
    resize: none;
    
}

.sub button{
    margin-top: 3vw;
    border: 0;
    background-color: black;
    color: white;
    height: 8vw;
    text-align: center;
    width: 100%;
    font-size: 3.5vw;
}