

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 10pt;
}

h3{
    font-family: 'Nunito', sans-serif;
    font-size: 10pt;
    font-weight: 700;
    color: #BF2A26;
}

body{
    overflow-y: hidden;
}

#hideAll
 {
   position: fixed;
   left: 0px; 
   right: 0px; 
   top: 0px; 
   bottom: 0px; 
   background-color: white;
   z-index: 98; /* Higher than anything else in the document */

 }

header {
    font-family: 'Nunito', sans-serif;
    font-size: 10pt;
}

#navbar {
    z-index: 99;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: white;
    padding: 5vw;
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}

.s {
    width: 40%;
    padding: 0 6% 0 0;
    display: flex;
}

.s a{
    padding-right: 4vw;
}
.c {
    width: 20%;
    height: auto;
}

.d {
    width: 40%;
    padding: 0 0 0 6%;
    text-align: right;
    justify-content: space-between;
}

.c img {
    margin: auto;
    height: auto;
}





.masonry {
    background-color: white;
    margin: calc(100px + 1.5vw) 3.5vw;
    max-width: 100%;
}

/* clearfix */
.masonry:after {
  content: '';
  display: block;
  clear: both;
}

.masonry .cover,
.masonry .grid-sizer {
    width: calc(33.33% - 3vw);
}

@media screen and (max-width: 768px) {

    .masonry .cover,
    .masonry .grid-sizer {
        width: calc(50% - 3vw);
    }
}

@media screen and (min-width: 769px) and (max-width: 1399px) {

    .masonry .cover,
    .masonry .grid-sizer {
        width: calc(33.33% - 3vw);
    }
}

@media screen and (min-width: 1400px) and (max-width: 1899px) {

    .masonry .cover,
    .masonry .grid-sizer {
        width: calc(33.33% - 3vw);
    }
}

@media screen and (min-width: 1900px) {

    .masonry .cover,
    .masonry .grid-sizer {
        width: calc(25% - 3vw);
    }
}

.masonry .cover,
.masonry .grid-sizer {
    margin: 1.5vw 1.5vw;
    height: auto;
    float: left;
}


/*hovers importanti*/




.clearer {
    clear: both;
}