

* {
    transition: width 2s;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 10pt;
}

h3{
    font-family: 'Nunito', sans-serif;
    font-size: 10pt;
    font-weight: 700;
    color: #BF2A26;
}

#hideAll
 {
   position: fixed;
   left: 0px; 
   right: 0px; 
   top: 0px; 
   bottom: 0px; 
   background-color: white;
   z-index: 98; /* Higher than anything else in the document */

 }



header {
    width: 100%;
    font-family: 'Nunito', sans-serif;
    font-size: 10pt;
}

#navbar {
    
    width: 100vw;
    height: 100px;
    background-color: white;
    padding: 5vw;
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}

.s {
    width: 40%;
    padding: 0 6% 0 0;
    display: flex;
}

.s a{
    padding-right: 4vw;
}
.c {
    width: 20%;
    height: auto;
}

.d {
    width: 40%;
    padding: 0 0 0 6%;
    text-align: right;
    justify-content: space-between;
}

.c img {
    margin: auto;
    height: auto;
}


body{
    overflow-y: hidden;
}

.coso{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    
}

.homebox{
    margin: auto;
    left: 0;
    width: 250px;
    height: 500px;
}

.homebox #testa{
    width: 100%;
    height: auto;
}

.homebox .testo{
    width: 60%;
}

.homebox p{
    
    width: 70%;
    margin-top: 20px;
}

.homebox a{
    font-family: 'Nunito', sans-serif;
    font-size: 10pt;
    font-weight: 700;
    color: #BF2A26;
}

.volante{
    position: relative;
}

.ape{
    bottom: 320px;
    width: 170px;
    right: -190px;
}

.fiore{
    bottom: 300px;
    right: 110px;
    width: 120px;
}

.clearer {
    clear: both;
}