* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 11pt;
    
}

h3{
    font-family: 'Nunito', sans-serif;
    text-decoration: underline;
    font-weight: 500;
}

h4{
    margin-bottom: 10pt;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

#folder{
    display: none;
}

#menumob{
    display: none;
}

body{
}

header {
    font-family: 'Nunito', sans-serif;
    font-size: 10pt;
}

#navbar {
    width: 100%;
    background-color: white;
    z-index: 99;
    position: fixed;
    top: 0;
    height: 0px;
    padding: 5vw;
    display: inline-flex;
    align-items: center;
}

a{
    -webkit-transition: font-weight .2s;
    -moz-transition: font-weight .2s;
    -o-transition: font-weight .2s;
    transition: font-weight .2s;
    text-decoration: none;
    color: black;
}

a:hover{ 
text-decoration: underline;}

.s {
        width: 25vw;
        display: flex;
        justify-content: space-between;
}
    .s a){
    width: auto;
    float: none;
        position: inherit;
    
}


.c {
    width: 40vw;
    margin: auto;
    height: 2.7vw;
    background-image: url(media/firma.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}


.d {
    width: 25vw;
    display: flex;
    justify-content: flex-end;
}

.d a{}

.c img {
    margin: auto;
    height: auto;
}



#grid{
    margin-top: 10vw;
    padding: 0vw 5% 3vw 5%;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 5vw;
    grid-column-gap: 5vw;
}

@media only screen and (max-width: 600px) {
  #grid {
    grid-template-columns: auto auto;
  }
}

@media only screen and (min-width: 1200px) {
  #grid {
    grid-template-columns: auto auto auto auto;
  }
}

#grid img{
    max-width: 100%;
    height: auto;
}

#grid .item{
    padding: 0;
    height: auto;
    position: relative;
    
}

#titlebar{
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    position: absolute;
    bottom: 4.8px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 4.8px);
    width: 100%;
    opacity: 0;
}
    
    

.item:hover #titlebar{
    opacity: 100%
}

#titlebar p{
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    text-align: center;
}

.clearer {
    clear: both;
}