* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 4.5vw;
}


body{
}

header {
    border: 0;
    top: 0;
    position: fixed;
    font-family: 'Nunito', sans-serif;
    width: 100vw;
    height: 34vw;
}

#navbar {
    width: 100vw;
    top: 0;
    height: 100px;
    padding: 5vw;
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}

.s,
.d {
    display: none;
}


.c {
    top: 7.8vw;
    position: absolute;
    z-index: 100;
    left: 20vw;
    right: 20vw;
    margin: auto;
    width: 53vw;
    height: 10vw;
    background-color: ;
    background-image: url(media/firma2.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}

#menumob {
    -webkit-transition: height .6s ease-out;
    -moz-transition: height .6s ease-out;
    -o-transition: height .6s ease-out;
    transition: height .6s ease-out;
    transition-delay: .2s;
    z-index: 50;
    text-align: center;
    overflow: hidden;
    height: 34vw;
    width: 100vw;
    position: absolute;
    top: 0;
    display: flex;
    background-color: white;
}

#menumob.open {
    -webkit-transition: height .5s ease;
    -moz-transition: height .5s ease;
    -o-transition: height .5s ease;
    transition: height .5s ease;
    transition-delay: .02s;
    height: 100vh;
}

#menumob span {
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -o-transition: .8s;
    transition: .8s;
    position: fixed;
    left: calc(50% - 3vw);
    width: 5vw;
    height: 0.6vw;
    background-color: black;
    border-radius: 0.6vw;
}

#menumob span:nth-child(3) {
    top: 24.8vw;
    
}

#menumob.open span:nth-child(3) {
    top: calc(100% - 10vw);
}

#menumob span:nth-child(2) {
    top: 23.2vw;
}

#menumob.open span:nth-child(2) {
    transform: rotate(45deg);
}

#menumob span:nth-child(1) {
    top: 21.6vw;
}

#menumob.open span:nth-child(1) {
    top: 23.2vw;
    transform: rotate(-45deg);
}

#menumob span:nth-child(4) {
    cursor: pointer;
    opacity: 0;
    height: calc(0.8vw * 5);
    background-color: #000000;
    top: 21.6vw;
}

#menumob.open span:nth-child(4) {
}

#menumob #menulinks{
    width: 100%;
    text-align: center;
    line-height: 4.5vw;
    display: flex;
    flex-flow: column;
    transform: translateY(-50vh);
    opacity: 0%;
}

#menumob.open #menulinks{
    -webkit-transition: opacity .3s linear .5s;
    -moz-transition: opacity .3s linear .5s;
    -o-transition: opacity .3s linear .5s;
    transition: opacity .3s linear .5s;
    position: absolute;
    z-index: 130;
    bottom: calc(50% - 20vw);
    transform: translateY(0vh);
    opacity: 100%;
}

#menumob a:nth-child(1) {
    text-decoration: underline;
    font-weight: 500;
}




#grid{
    margin: 34vw 1vw 0 0;  
    column-count: 2;
    column-gap: 0;   
}


#titlebar{
    display: none;
}

#grid .item{
    padding: 0 0 1vw 1vw;
    margin-bottom: -1.6vw;
}

#grid img{
    max-width: 100%;
    height: auto;
}







.clearer {
    clear: both;
}